<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Rules and Etiquette</title>
  <link rel="stylesheet" href="../style.css" type="text/css">
 </head>
 <body >
<div class = 'header'>
	<div class = 'title'>
		<h1>Rules and Etiquette</h1>
	</div>

	<div class = 'navigation'>
		<ul class = 'nav'>
			<li class = 'nav_list'><a class = 'nav_link' href='/'>Home</a></li>
			<li class = 'nav_list'><a class = 'nav_link' href='/map'>Best Hiking Trails</a></li>
			<li class = 'nav_list'><a class = 'nav_link' href='/rules'>Rules and Etiquette</a></li>
			<li class = 'nav_list'><a class = 'nav_link' href='/findPark'>Find a National Park</a></li>
		</ul>
	</div>
</div>

<div class = 'parent_rules'>
	<div class = 'flyer_background'></div>
	<div class = 'sidebar'>
		<ul class = 'flyers'> <h2>Flyers </h2>
			<h3> (click on picture to download flyer)</h3>
			<li> 
				<!-- code on how to make a thumbnail found at https://www.w3schools.com/howto/howto_css_thumbnail.asp -->
				<a href="../flyers/leave_no_trace_1.jpg" download> Leave No Trace Flyer<br>
					<img src="../flyers/leave_no_trace_1.jpg">
				</a>
			</li>
			<li> 
				<!-- code on how to make a thumbnail found at https://www.w3schools.com/howto/howto_css_thumbnail.asp -->
				<a href="../flyers/bear_safety_1.png" download> Bear Safety Flyer<br>
					<img src="../flyers/bear_safety_1.png">
				</a>
			</li>
			<li> 
				<!-- code on how to make a thumbnail found at https://www.w3schools.com/howto/howto_css_thumbnail.asp -->
				<a href="../flyers/ten-essentials-101.png" download> Ten Essentials Flyer<br>
					<img src="../flyers/ten-essentials-101.png">
				</a>
			</li>
			<li> 
				<!-- code on how to make a thumbnail found at https://www.w3schools.com/howto/howto_css_thumbnail.asp -->
				<a href="../flyers/heat_safety.jpg" download> Heat Saftey Flyer<br>
					<img src="../flyers/heat_safety.jpg">
				</a>
			</li>
 
			
		</ul><br>
		<a href="../flyers/flyers.zip" class = 'button' download> <button class = 'download'>Download All</button> </a> 
	</div>
	<div class = 'rules'> <h2>General Rules and Etiquette</h2>
		<ol class = 'mainlist' 	type = 'A'> 
			<h3> Etiquette</h3>
				<ol class = 'sublist'>
					<li> No one wants to hear your music, use headphones. </li>
					<li> Uphill always has the right of way. </li>
					<li> If the person behind you is faster, step off the trail to let them pass </li>
					<li> Never leave trash lying around. </li>
					<li> If you have to use the bathroom, bury it where other people can't find it.  </li>					
				</ol>
			</li>

			<h3>Practice Leave No Trace.</h3>
				<ol class = 'sublist'>
					<li> Carry everything out that comes in. </li>
					<li> Stay on the trails, especially on switchbacks. </li>
					<li> Be prepared. </li>
					<li> Be careful with fire.  </li>
					<li> Do not approach animals.  </li>
					<li> Leave things where you found them.  </li>
				</ol>
			</li>
			
			<h3>Be safe in Bear Country.</h3>
				<ol class = 'sublist'>
					<li> Keep your food stored properly. </li>
					<li> Keep your trash picked up. </li>
					<li> Never approach a bear, especially the little ones.  </li>
					<li> Create a Bear-muda Triangle. </li> 
				</ol>
			</li>
			<h3>Know the sun and your body.</h3>
				<ol class = 'sublist'>
					<li> Don't over exert yourself in the heat. </li>
					<li> Always carry more water than you think you will need. </li>
					<li> Wear sunscreen on clothes that can protect you from the sun </li>
				</ol>
			</li>
		</ol>
	</div>
</div>

 </body>
</html>